# News Classification Using Natural Language Processing
#### --> Try 1 using SnowBall
### Import The Data Set

In [1]:
# Import the libraries
import nltk
import pandas as pd

In [2]:
# Import the Dataset using pandas
fake = pd.read_csv(r'D:/Project/News_Classifier/Fake.csv')
genuine = pd.read_csv(r'D:/Project/News_Classifier/True.csv')

### Difference Between display() and print() function

In [3]:
# Display first 10 rows in fake dataset
display(fake.head(10))

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [4]:
# Printing first 10 rows in fake dataset
print(fake.head(10))

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...
5   Racist Alabama Cops Brutalize Black Boy While...
6   Fresh Off The Golf Course, Trump Lashes Out A...
7   Trump Said Some INSANELY Racist Stuff Inside ...
8   Former CIA Director Slams Trump Over UN Bully...
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News
5  The number of cases of cops brutalizing and ki...    News
6  Donald Trump spent a good portion of his day a...    News
7  In the wake of yet another court decision that...    News
8  Many people have raised the alarm regarding th...    News
9  Just when you might have thought we d get a br...    News

                date
0  December 31, 2017
1  December 31, 2017
2  December 30, 2017
3  December 29, 2017
4  December 25, 2017
5  December 25, 2017
6  December 23, 2017
7  December 23, 2017
8  December 22, 2017
9  December 21, 2017

In [5]:
# Display first 10 rows in genuine dataset
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [6]:
# Display the General information of the fake dataset 
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [7]:
# print the General information of the fake dataset 
print(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
None

In [8]:
# Display the General information of the genuine dataset 
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

## Add The Target Column in the Dataset

In [9]:
fake['target'] = 0
genuine['target'] = 1

In [10]:
# Display first 5 rows in fake dataset
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
# Display first 5 rows in genuine dataset
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

## Combine both The Datasets

In [12]:
data = pd.concat([fake,genuine],axis = 0)

In [13]:
# Display the new dataset(combined dataset) first 5 rows
display(data.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

## Filter the Data Set

In [14]:
# Since, we don't need title, subject and date columns for model training
data = data.drop(['title','subject','date'], axis = 1)

In [15]:
# Display the new dataset(filtered dataset) first 5 rows
display(data.head())

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

In [16]:
# print the columns present in the filtered dataset
print(data.columns)

Index(['text', 'target'], dtype='object')

## Tokenization

In [17]:
# first import the word_tokenize function from the nltk library
from nltk.tokenize import word_tokenize

In [18]:
# Apply the word_tokenize
data['text'] = data['text'].apply(word_tokenize)

In [19]:
# display the first 5 rows
display(data.head())

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0

In [20]:
# print the tokenized text
print(data['text'])

0        [Donald, Trump, just, couldn, t, wish, all, Am...
1        [House, Intelligence, Committee, Chairman, Dev...
2        [On, Friday, ,, it, was, revealed, that, forme...
3        [On, Christmas, day, ,, Donald, Trump, announc...
4        [Pope, Francis, used, his, annual, Christmas, ...
                               ...
21412    [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...
21413    [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...
21414    [MINSK, (, Reuters, ), -, In, the, shadow, of,...
21415    [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...
21416    [JAKARTA, (, Reuters, ), -, Indonesia, will, b...
Name: text, Length: 44898, dtype: object

## Stemming : Using Snowball

In [21]:
# Import the SnowballStemmer function from the nltk library
from nltk.stem.snowball import SnowballStemmer

In [22]:
stemmer = SnowballStemmer('english')

In [23]:
# make a function to apply the snowball function to every row in the 'text' column in the Dataset
def stem_it(text):
    return [stemmer.stem(word) for word in text]

In [24]:
# Now apply the function
data['text'] = data['text'].apply(stem_it)

In [25]:
# display the first 5 rows
display(data.head())

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0

In [26]:
# print the stemmed text
print(data['text'])

0        [donald, trump, just, couldn, t, wish, all, am...
1        [hous, intellig, committe, chairman, devin, nu...
2        [on, friday, ,, it, was, reveal, that, former,...
3        [on, christma, day, ,, donald, trump, announc,...
4        [pope, franci, use, his, annual, christma, day...
                               ...
21412    [brussel, (, reuter, ), -, nato, alli, on, tue...
21413    [london, (, reuter, ), -, lexisnexi, ,, a, pro...
21414    [minsk, (, reuter, ), -, in, the, shadow, of, ...
21415    [moscow, (, reuter, ), -, vatican, secretari, ...
21416    [jakarta, (, reuter, ), -, indonesia, will, bu...
Name: text, Length: 44898, dtype: object

## StopWord Removal

In [27]:
# This is a prebuild datbase for the general stopwords 
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [28]:
# But we will make our own stopwords criteria: word size should be more than 3
def stop_it(text):
    return [word for word in text if len(word) > 2]

In [29]:
# apply the above function
data['text'] = data['text'].apply(stop_it)

In [30]:
# display the first 5 rows
display(data.head())

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0

In [31]:
# print the text column
print(data['text'])

0        [donald, trump, just, couldn, wish, all, ameri...
1        [hous, intellig, committe, chairman, devin, nu...
2        [friday, was, reveal, that, former, milwauke, ...
3        [christma, day, donald, trump, announc, that, ...
4        [pope, franci, use, his, annual, christma, day...
                               ...
21412    [brussel, reuter, nato, alli, tuesday, welcom,...
21413    [london, reuter, lexisnexi, provid, legal, reg...
21414    [minsk, reuter, the, shadow, disus, soviet-era...
21415    [moscow, reuter, vatican, secretari, state, ca...
21416    [jakarta, reuter, indonesia, will, buy, sukhoi...
Name: text, Length: 44898, dtype: object

## Join the tokenized text again

In [32]:
# apply the join function in each row
data['text'] = data['text'].apply(' '.join)

In [33]:
# display the first 5 rows
display(data.head())

                                                text  target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0

In [34]:
# print the rows
print(data['text'])

0        donald trump just couldn wish all american hap...
1        hous intellig committe chairman devin nune hav...
2        friday was reveal that former milwauke sheriff...
3        christma day donald trump announc that would b...
4        pope franci use his annual christma day messag...
                               ...
21412    brussel reuter nato alli tuesday welcom presid...
21413    london reuter lexisnexi provid legal regulator...
21414    minsk reuter the shadow disus soviet-era facto...
21415    moscow reuter vatican secretari state cardin p...
21416    jakarta reuter indonesia will buy sukhoi fight...
Name: text, Length: 44898, dtype: object

## Splitting up of data in training set and testing set

In [35]:
# import the train_test_split function from the sklearn library
from sklearn.model_selection import train_test_split

In [36]:
# Apply the function and split the data 
x_train,x_test,y_train,y_test = train_test_split(data['text'],data['target'],test_size = 0.25)

In [37]:
# display x_train
display(x_train.head())

16603    unit nation reuter russia cast veto the unit n...
12391    kriskobach1787 trump has made clear that sanct...
5047     one would think corey lewandowski trump former...
14006    vatican citi reuter pope franci visit myanmar ...
8460     reuter u.s. vice presid joe biden said monday ...
Name: text, dtype: object

In [38]:
# display y_train
display(y_train.head())

16603    1
12391    0
5047     0
14006    1
8460     1
Name: target, dtype: int64

## Vectorization

In [39]:
# import the library for vectorization
from sklearn.feature_extraction.text import TfidfVectorizer

### TfidfVectorizer Convert a collection of raw documents to a matrix of TF-IDF features

In [40]:
# max_df ignore terms that have a document frequency strictly higher than the given threshold.
my_tfidf = TfidfVectorizer(max_df = 0.7)

### .fit_transform(raw_documents) Learn vocabulary and idf, return document-term matrix.

In [41]:
tfidf_train = my_tfidf.fit_transform(x_train)

In [42]:
# print the tfidf_train
print(tfidf_train)

  (0, 81023)	0.06193467045798543
  (0, 31320)	0.04454901074400217
  (0, 22553)	0.025688273288158515
  (0, 28763)	0.07985601470106793
  (0, 44363)	0.042698825748509334
  (0, 15449)	0.0900146856982696
  (0, 88857)	0.02700304524232061
  (0, 33443)	0.01644187750686723
  (0, 7461)	0.08820953870625851
  (0, 19766)	0.0446239106730441
  (0, 84216)	0.025550268926444995
  (0, 21676)	0.04629210501396215
  (0, 23479)	0.03687390522445526
  (0, 21737)	0.040513226727943545
  (0, 42031)	0.0724015243967101
  (0, 65468)	0.046093845042894786
  (0, 24653)	0.045119782727391734
  (0, 30813)	0.057546906784524045
  (0, 65852)	0.04756522065603477
  (0, 25496)	0.0591105962343878
  (0, 86715)	0.06131754791117452
  (0, 55574)	0.02924562547692588
  (0, 48391)	0.04983162811343787
  (0, 48413)	0.04220902571826517
  (0, 68427)	0.03317213632125796
  :	:
  (33672, 20497)	0.027694322129855637
  (33672, 83404)	0.1367035287918287
  (33672, 22553)	0.0220205207805449
  (33672, 84216)	0.04380444115740916
  (33672, 55844)	0.04630614744607229
  (33672, 22049)	0.02699898277636739
  (33672, 57918)	0.03017514510383466
  (33672, 8286)	0.03144931254985581
  (33672, 37879)	0.06967641540382048
  (33672, 8554)	0.03681044020780939
  (33672, 77711)	0.017288482678394834
  (33672, 13616)	0.06892135677746222
  (33672, 37165)	0.03521809355169607
  (33672, 60135)	0.039757101982153584
  (33672, 10812)	0.015231105438297513
  (33672, 81557)	0.08691798479382053
  (33672, 49196)	0.03996648297510325
  (33672, 89161)	0.017104199395264204
  (33672, 13633)	0.023419706240305066
  (33672, 63183)	0.05566604108110889
  (33672, 88981)	0.030046490796852027
  (33672, 90745)	0.03681209033272952
  (33672, 1770)	0.029461029029271613
  (33672, 22862)	0.03331580342599378
  (33672, 57309)	0.04187645278050769

### .transform(raw_documents) Transform documents to document-term matrix

In [43]:
tfidf_test = my_tfidf.transform(x_test)

In [44]:
# print the tfidf_test
print(tfidf_test)

  (0, 89839)	0.04589918838493348
  (0, 89458)	0.04897028198451695
  (0, 88851)	0.024209283745999025
  (0, 88783)	0.026243776640744374
  (0, 88062)	0.03145641727070027
  (0, 87781)	0.06593697672926271
  (0, 87575)	0.07099223808749998
  (0, 87438)	0.14460864639859772
  (0, 87170)	0.15900054769559163
  (0, 87117)	0.2590103257660826
  (0, 86794)	0.07182560254427443
  (0, 85290)	0.0307966234816872
  (0, 84822)	0.06481189293097518
  (0, 83652)	0.11157683705879604
  (0, 82983)	0.05262232786014751
  (0, 82942)	0.13498565539438134
  (0, 82910)	0.06007823248182032
  (0, 82827)	0.11717333399662856
  (0, 82807)	0.07250081544970835
  (0, 81756)	0.03888479815948211
  (0, 81699)	0.03851211480791463
  (0, 81557)	0.019717089393630344
  (0, 81277)	0.023987216326933628
  (0, 80520)	0.14655749183075728
  (0, 79708)	0.04590536323778494
  :	:
  (11224, 17797)	0.02574287587851208
  (11224, 17694)	0.0508763911613111
  (11224, 17272)	0.024437664283862837
  (11224, 17133)	0.048628820515631145
  (11224, 15335)	0.03335494855547389
  (11224, 14896)	0.08659550803053279
  (11224, 13893)	0.05316286561131654
  (11224, 13633)	0.018826226968488277
  (11224, 13616)	0.013850826013304427
  (11224, 13588)	0.06762130290382502
  (11224, 13568)	0.023914874087289914
  (11224, 13240)	0.10087018304857477
  (11224, 11626)	0.02219454477555635
  (11224, 10971)	0.032629474466692863
  (11224, 10813)	0.028225808651546412
  (11224, 10812)	0.012243716681163204
  (11224, 10602)	0.05931270859598166
  (11224, 10243)	0.026461376480216976
  (11224, 9314)	0.04551388447090182
  (11224, 8383)	0.02715776270580468
  (11224, 8368)	0.02791436428979091
  (11224, 8309)	0.032942142259953996
  (11224, 8254)	0.042779562266743315
  (11224, 7572)	0.020046385818030824
  (11224, 7517)	0.046464089091223744

## Logistic Regression

In [45]:
# import the logistic classifier
from sklearn.linear_model import LogisticRegression
# import from accuracy matrix to calculate the accuracy of our model
from sklearn.metrics import accuracy_score

In [46]:
# build the model with maximum number of iteration as 900
model_LR = LogisticRegression(max_iter = 900)

In [47]:
# fitting the training set
model_LR.fit(tfidf_train,y_train)

LogisticRegression(max_iter=900)

In [48]:
# Predict on the test data
predict = model_LR.predict(tfidf_test)

In [49]:
# Now calculate the accuracy from the y_test set
accu = accuracy_score(y_test,predict)
print(f"the accuracy of the model is : {accu*100}")

the accuracy of the model is : 98.94877505567928

## Passive Aggressive Classifier

In [50]:
# import the PassiveAggressiveClassifier 
from sklearn.linear_model import PassiveAggressiveClassifier

In [51]:
# build the model with maximum iteration of 50
model_PAC = PassiveAggressiveClassifier(max_iter = 50)

In [52]:
# fit the model on the training set
model_PAC.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [53]:
# Predict the model on the testing set
predict = model_PAC.predict(tfidf_test)

In [54]:
# Accuracy of our model
accscore = accuracy_score(y_test,predict)
print(f"the accuracy of the model is : {accscore*100}")

the accuracy of the model is : 99.66146993318486