# News Classification Using Natural Language Processing
#### --> Try 1 using LANCASTER
### Import The Data Set

In [1]:
# Import the libraries
import nltk
import pandas as pd

In [2]:
# Import the Dataset using pandas
fake = pd.read_csv(r'D:/Project/News_Classifier/Fake.csv')
genuine = pd.read_csv(r'D:/Project/News_Classifier/True.csv')

### Difference Between display() and print() function

In [3]:
# Display first 10 rows in fake dataset
display(fake.head(10))

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [4]:
# Printing first 10 rows in fake dataset
print(fake.head(10))

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...
5   Racist Alabama Cops Brutalize Black Boy While...
6   Fresh Off The Golf Course, Trump Lashes Out A...
7   Trump Said Some INSANELY Racist Stuff Inside ...
8   Former CIA Director Slams Trump Over UN Bully...
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News
5  The number of cases of cops brutalizing and ki...    News
6  Donald Trump spent a good portion of his day a...    News
7  In the wake of yet another court decision that...    News
8  Many people have raised the alarm regarding th...    News
9  Just when you might have thought we d get a br...    News

                date
0  December 31, 2017
1  December 31, 2017
2  December 30, 2017
3  December 29, 2017
4  December 25, 2017
5  December 25, 2017
6  December 23, 2017
7  December 23, 2017
8  December 22, 2017
9  December 21, 2017

In [5]:
# Display first 10 rows in genuine dataset
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [6]:
# Display the General information of the fake dataset 
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [7]:
# print the General information of the fake dataset 
print(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
None

In [8]:
# Display the General information of the genuine dataset 
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

## Add The Target Column in the Dataset

In [9]:
fake['target'] = 0
genuine['target'] = 1

In [10]:
# Display first 5 rows in fake dataset
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
# Display first 5 rows in genuine dataset
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

## Combine both The Datasets

In [12]:
data = pd.concat([fake,genuine],axis = 0)

In [13]:
# Display the new dataset(combined dataset) first 5 rows
display(data.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

## Filter the Data Set

In [14]:
# Since, we don't need title, subject and date columns for model training
data = data.drop(['title','subject','date'], axis = 1)

In [15]:
# Display the new dataset(filtered dataset) first 5 rows
display(data.head())

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

In [16]:
# print the columns present in the filtered dataset
print(data.columns)

Index(['text', 'target'], dtype='object')

## Tokenization

In [17]:
# first import the word_tokenize function from the nltk library
from nltk.tokenize import word_tokenize

In [18]:
# Apply the word_tokenize
data['text'] = data['text'].apply(word_tokenize)

In [19]:
# display the first 5 rows
display(data.head())

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0

In [20]:
# print the tokenized text
print(data['text'])

0        [Donald, Trump, just, couldn, t, wish, all, Am...
1        [House, Intelligence, Committee, Chairman, Dev...
2        [On, Friday, ,, it, was, revealed, that, forme...
3        [On, Christmas, day, ,, Donald, Trump, announc...
4        [Pope, Francis, used, his, annual, Christmas, ...
                               ...
21412    [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...
21413    [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...
21414    [MINSK, (, Reuters, ), -, In, the, shadow, of,...
21415    [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...
21416    [JAKARTA, (, Reuters, ), -, Indonesia, will, b...
Name: text, Length: 44898, dtype: object

## Stemming : Using Lancaster

In [21]:
# Import the LancasterStemmer function from the nltk library
from nltk.stem import LancasterStemmer

In [22]:
porter = LancasterStemmer()

In [23]:
# make a function to apply the snowball function to every row in the 'text' column in the Dataset
def stem_it(text):
    return [porter.stem(word) for word in text]

In [24]:
# Now apply the function
data['text'] = data['text'].apply(stem_it)

In [25]:
# display the first 5 rows
display(data.head())

                                                text  target
0  [donald, trump, just, couldn, t, wish, al, am,...       0
1  [hous, intellig, commit, chairm, devin, nun, i...       0
2  [on, friday, ,, it, was, rev, that, form, milw...       0
3  [on, christmas, day, ,, donald, trump, annount...       0
4  [pop, frant, us, his, an, christmas, day, mess...       0

In [26]:
# print the stemmed text
print(data['text'])

0        [donald, trump, just, couldn, t, wish, al, am,...
1        [hous, intellig, commit, chairm, devin, nun, i...
2        [on, friday, ,, it, was, rev, that, form, milw...
3        [on, christmas, day, ,, donald, trump, annount...
4        [pop, frant, us, his, an, christmas, day, mess...
                               ...
21412    [brussel, (, reut, ), -, nato, al, on, tuesday...
21413    [london, (, reut, ), -, lexisnex, ,, a, provid...
21414    [minsk, (, reut, ), -, in, the, shadow, of, di...
21415    [moscow, (, reut, ), -, vat, secret, of, stat,...
21416    [jakart, (, reut, ), -, indones, wil, buy, 11,...
Name: text, Length: 44898, dtype: object

## StopWord Removal

In [27]:
# This is a prebuild datbase for the general stopwords 
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [28]:
# But we will make our own stopwords criteria: word size should be more than 3
def stop_it(text):
    return [word for word in text if len(word) > 2]

In [29]:
# apply the above function
data['text'] = data['text'].apply(stop_it)

In [30]:
# display the first 5 rows
display(data.head())

                                                text  target
0  [donald, trump, just, couldn, wish, happy, new...       0
1  [hous, intellig, commit, chairm, devin, nun, g...       0
2  [friday, was, rev, that, form, milwauk, sherif...       0
3  [christmas, day, donald, trump, annount, that,...       0
4  [pop, frant, his, christmas, day, mess, rebuk,...       0

In [31]:
# print the text column
print(data['text'])

0        [donald, trump, just, couldn, wish, happy, new...
1        [hous, intellig, commit, chairm, devin, nun, g...
2        [friday, was, rev, that, form, milwauk, sherif...
3        [christmas, day, donald, trump, annount, that,...
4        [pop, frant, his, christmas, day, mess, rebuk,...
                               ...
21412    [brussel, reut, nato, tuesday, welcom, presid,...
21413    [london, reut, lexisnex, provid, leg, reg, and...
21414    [minsk, reut, the, shadow, disus, soviet-era, ...
21415    [moscow, reut, vat, secret, stat, cardin, piet...
21416    [jakart, reut, indones, wil, buy, sukho, fight...
Name: text, Length: 44898, dtype: object

## Join the tokenized text again

In [32]:
# apply the join function in each row
data['text'] = data['text'].apply(' '.join)

In [33]:
# display the first 5 rows
display(data.head())

                                                text  target
0  donald trump just couldn wish happy new year a...       0
1  hous intellig commit chairm devin nun going ha...       0
2  friday was rev that form milwauk sheriff david...       0
3  christmas day donald trump annount that would ...       0
4  pop frant his christmas day mess rebuk donald ...       0

In [34]:
# print the rows
print(data['text'])

0        donald trump just couldn wish happy new year a...
1        hous intellig commit chairm devin nun going ha...
2        friday was rev that form milwauk sheriff david...
3        christmas day donald trump annount that would ...
4        pop frant his christmas day mess rebuk donald ...
                               ...
21412    brussel reut nato tuesday welcom presid donald...
21413    london reut lexisnex provid leg reg and busy i...
21414    minsk reut the shadow disus soviet-era fact mi...
21415    moscow reut vat secret stat cardin pietro paro...
21416    jakart reut indones wil buy sukho fight jet wo...
Name: text, Length: 44898, dtype: object

## Splitting up of data in training set and testing set

In [35]:
# import the train_test_split function from the sklearn library
from sklearn.model_selection import train_test_split

In [36]:
# Apply the function and split the data 
x_train,x_test,y_train,y_test = train_test_split(data['text'],data['target'],test_size = 0.25)

In [37]:
# display x_train
display(x_train.head())

10429    thi afternoon the washington post wrot opin ar...
17503    brasil reut suprem court injunct friday temp b...
15428                                    pot class e-mails
20136    lim reut the govern peru presid pedro pablo ku...
5388     texa textbook ont again the limelight aft year...
Name: text, dtype: object

In [38]:
# display y_train
display(y_train.head())

10429    0
17503    1
15428    0
20136    1
5388     0
Name: target, dtype: int64

## Vectorization

In [39]:
# import the library for vectorization
from sklearn.feature_extraction.text import TfidfVectorizer

### TfidfVectorizer Convert a collection of raw documents to a matrix of TF-IDF features

In [40]:
# max_df ignore terms that have a document frequency strictly higher than the given threshold.
my_tfidf = TfidfVectorizer(max_df = 0.7)

### .fit_transform(raw_documents) Learn vocabulary and idf, return document-term matrix.

In [41]:
tfidf_train = my_tfidf.fit_transform(x_train)

In [42]:
# print the tfidf_train
print(tfidf_train)

  (0, 8224)	0.09085259577696245
  (0, 62732)	0.08600970126482063
  (0, 77334)	0.03851315514712663
  (0, 59401)	0.05517214356790784
  (0, 24075)	0.04919911308197136
  (0, 75327)	0.04864538556351375
  (0, 60751)	0.0995241031445009
  (0, 77170)	0.04523633481540869
  (0, 52993)	0.03843277840530435
  (0, 56409)	0.07445326505441323
  (0, 42529)	0.08762103605003937
  (0, 64882)	0.053275657830705814
  (0, 55172)	0.036911316281178094
  (0, 73017)	0.07198390060467895
  (0, 66007)	0.11444048650511583
  (0, 13265)	0.05063104254546418
  (0, 31991)	0.03081690204463569
  (0, 34020)	0.08931798154153367
  (0, 75749)	0.16457388383577262
  (0, 81617)	0.09286496954148814
  (0, 74473)	0.1109558888498993
  (0, 29777)	0.1565857219023065
  (0, 62363)	0.03361896481589878
  (0, 21800)	0.07665896893270226
  (0, 50903)	0.056646250770741965
  :	:
  (33672, 7665)	0.03047295447901765
  (33672, 70160)	0.06439822577147924
  (33672, 49140)	0.03230359620987825
  (33672, 56513)	0.10198865706407026
  (33672, 77569)	0.04226362265452957
  (33672, 74969)	0.04106701635033757
  (33672, 13173)	0.052876614496163286
  (33672, 79386)	0.07887649703865694
  (33672, 25769)	0.02912225917386773
  (33672, 15072)	0.13447952078876513
  (33672, 7427)	0.06125834038760409
  (33672, 84533)	0.035537594162319566
  (33672, 7322)	0.04927460535501619
  (33672, 36805)	0.03128348695456549
  (33672, 28241)	0.055131011337459554
  (33672, 36227)	0.042616657945321636
  (33672, 29479)	0.044532844141517924
  (33672, 37340)	0.047075519559347925
  (33672, 77170)	0.031860021794514866
  (33672, 52993)	0.027068266308783052
  (33672, 55172)	0.07799009442175167
  (33672, 31991)	0.02170439260359985
  (33672, 21800)	0.05399103245006933
  (33672, 84455)	0.05926740345858555
  (33672, 36109)	0.04279828283908796

### .transform(raw_documents) Transform documents to document-term matrix

In [43]:
tfidf_test = my_tfidf.transform(x_test)

In [44]:
# print the tfidf_test
print(tfidf_test)

  (0, 86685)	0.017050783004260252
  (0, 86379)	0.01529634203338576
  (0, 85501)	0.013970192126477831
  (0, 85326)	0.026922742828663578
  (0, 84533)	0.03837101282581627
  (0, 84483)	0.05243118612664118
  (0, 84210)	0.6014747730092523
  (0, 83898)	0.020597219690279122
  (0, 83833)	0.055710541295369176
  (0, 83756)	0.038338262200004504
  (0, 83625)	0.05763861103215375
  (0, 83166)	0.020605854728656434
  (0, 82700)	0.025338253466928674
  (0, 82648)	0.03304235062481248
  (0, 82630)	0.019564633323612118
  (0, 81626)	0.045401768579509595
  (0, 79386)	0.028388444696075602
  (0, 78517)	0.041631147022293855
  (0, 78403)	0.017379250991114932
  (0, 77982)	0.01662356699475609
  (0, 77877)	0.35538433187049423
  (0, 77680)	0.02067961624389242
  (0, 77595)	0.09664464044168279
  (0, 77567)	0.04727106328124511
  (0, 77539)	0.02415769445984432
  :	:
  (11224, 27509)	0.06555906529646859
  (11224, 27503)	0.06449262815282812
  (11224, 27296)	0.13248456666466085
  (11224, 25769)	0.027600907384472413
  (11224, 24075)	0.03284083794301136
  (11224, 23355)	0.03393102055962215
  (11224, 21231)	0.03943145851110362
  (11224, 21185)	0.05768204661579315
  (11224, 20457)	0.079691142355302
  (11224, 20119)	0.051567074982785024
  (11224, 19867)	0.24476081254535453
  (11224, 18583)	0.10956493233862198
  (11224, 17210)	0.07059423896762698
  (11224, 16664)	0.022159069524011015
  (11224, 16437)	0.09459098294933188
  (11224, 13242)	0.1030582004962716
  (11224, 11670)	0.0483040519412624
  (11224, 10832)	0.06048409754216175
  (11224, 10730)	0.059211732168752494
  (11224, 9933)	0.04646485005981734
  (11224, 9185)	0.02743831746289822
  (11224, 8168)	0.05160167240938364
  (11224, 7376)	0.024357939679760385
  (11224, 1995)	0.10956493233862198
  (11224, 1834)	0.13665230248770147

## Logistic Regression

In [45]:
# import the logistic classifier
from sklearn.linear_model import LogisticRegression
# import from accuracy matrix to calculate the accuracy of our model
from sklearn.metrics import accuracy_score

In [46]:
# build the model with maximum number of iteration as 900
model_LR = LogisticRegression(max_iter = 900)

In [47]:
# fitting the training set
model_LR.fit(tfidf_train,y_train)

LogisticRegression(max_iter=900)

In [48]:
# Predict on the test data
predict = model_LR.predict(tfidf_test)

In [49]:
# Now calculate the accuracy from the y_test set
accu = accuracy_score(y_test,predict)
print(f"the accuracy of the model is : {accu*100}")

the accuracy of the model is : 98.47661469933185

## Passive Aggressive Classifier

In [50]:
# import the PassiveAggressiveClassifier 
from sklearn.linear_model import PassiveAggressiveClassifier

In [51]:
# build the model with maximum iteration of 50
model_PAC = PassiveAggressiveClassifier(max_iter = 50)

In [52]:
# fit the model on the training set
model_PAC.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [53]:
# Predict the model on the testing set
predict = model_PAC.predict(tfidf_test)

In [54]:
# Accuracy of our model
accscore = accuracy_score(y_test,predict)
print(f"the accuracy of the model is : {accscore*100}")

the accuracy of the model is : 99.456570155902